@use "@/styles/variables" as *;

@mixin font-h1 {
  font-weight: 700;
  font-size: 2.5em; // 40 px
}

@mixin font-h2 {
  font-weight: 700;
  font-size: 2em; // 32px
}

@mixin font-h3 {
  font-weight: 600;
  font-size: 1.75em; // 28px
}

@mixin font-h4 {
  font-weight: 600;
  font-size: 1.55em; // 24px
}

@mixin font-h5 {
  font-weight: 600;
  font-size: 1.125em; // 18px
}

$breakpoint-mobile: 749px;

@mixin mobile {
  @media screen and (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
