@use "sass:color";
/* Palette de couleurs */

/* Brand */
$color-brand-dark-orange: #d3590b;
$color-brand-main-orange: #ff8b42;
$color-brand-light-orange: #ffe8d9;
$color-brand-orange-text: color.adjust(
  $color-brand-dark-orange,
  $lightness: -8%
);

/* Neutral */
$color-grey-950: #0f0f0f;
$color-grey-800: #1f1f1f;
$color-grey-600: #6b7280;
$color-grey-400: #9ca3af;
$color-grey-200: #e5e7eb;
$color-grey-100: #f3f4f6;
$color-grey-50: #f9fafb;
$color-white: #fff;

/* System */
$success-green: #27ae60;
$success-green-light: #f1fff7;
$error-red: #ef4444;
$error-red-light: #ffe0e0;
$info-blue: #3b82f6;
$info-blue-light: #e0ecff;
$warning-orange: #e08d00;
$warning-orange-light: #fff0d7;

/* -------- */

// Polices
$font-text: inter;
$font-heading: manrope;

// Typographie corps de texte;
$body-l: 1.125em; // 18px
$body-m: 1em; // 16px
$body-s: 0.875em; // 14 px
$body-xs: 0.75em; // 12 px
$body-2xs: 0.625em; // 10 px
