@use "./variables" as *;
@use "./mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-text;
  line-height: auto;
  font-weight: 400;
}

body {
  background-color: $color-grey-50;
}

/* Typographie */
h1,
h2,
h3,
h4,
h5 {
  font-family: $font-heading;
  color: $color-grey-800;
}

h1 {
  @include font-h1;
}

h2 {
  @include font-h2;
}

h3 {
  @include font-h3;
}

h4 {
  @include font-h4;
}

h5 {
  @include font-h5;
}
