@use "@/styles/variables" as *;

.backIcon {
  width: 17px;
  height: 10px;
  flex-shrink: 0;
}
.iconButton {
  display: inline-flex;
  align-items: center;
  justify-items: center;
  width: 57px;
  height: 57px;
  padding: 20px;
  border: 1px solid $color-grey-200;
  color: #000;
  border-radius: 10px;
  background-color: $color-white;
  transition: all 300ms ease-out;
  &:hover {
    border: 1px solid $color-brand-dark-orange;
    color: $color-brand-orange-text;
  }
}
