@use "@/styles/variables" as *;

.dashboardPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 100px;
}

.dashboardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dashboardTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 14px;
  margin-top: 89px;
  text-align: left;
}

.dashboardTitle {
  color: $color-grey-800;
  font-size: 1.5em; // 24px
}

.dashboardSubtitle {
  font-size: $body-l;
}

.btnBar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
