@use "@/styles/variables" as *;

.dashboardPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 100px;
  @media screen and (max-width: 749px) {
    margin: 5px;
  }
}

.dashboardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 749px) {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}

.dashboardTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 14px;
  margin-top: 89px;
  text-align: left;
}

.dashboardTitle {
  color: $color-grey-800;
  font-size: 1.5em; // 24px
}

.dashboardSubtitle {
  font-size: $body-l;
}

.btnBar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.dashboardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-grey-200;
  border-radius: 10px;
  padding: 40px 59px;
  gap: 41px;
  margin-top: 30px;
  background-color: $color-white;
  @media screen and (max-width: 749) {
    padding: 20px;
  }
}

.dashboardContentHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @media screen and (max-width: 749px) {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
}

.dashboardContentTitleBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}

.dashboardContentTitle {
  font-size: 1.125em; // 18px
  font-weight: 600;
}

.dashboardContentSubtitle {
  font-size: $body-m;
  color: $color-grey-600;
}
