@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.projectsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 clamp(16px, 5vw, 100px);
}

.projectsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include mobile {
    flex-direction: column;
    gap: 30px;
  }
}

.projectsTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 14px;
  width: 100%;
  margin-top: 89px;
  text-align: left;
}

.projectsTitle {
  width: 100%;
  color: $color-grey-800;
  @include font-h4;
}

.projectsSubtitle {
  font-size: $body-l;
}

.projectsContent {
  width: 100%;
  margin: 60px 0;
}
