@use "@/styles/variables" as *;

.loginPage {
  display: flex;
}

.loginBg {
  z-index: 1;
  @media screen and (max-width: 749px) {
    display: none;
  }
}

.loginColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 55px 140px;
  z-index: 2;
  background-color: $color-grey-50;
  width: 562px;
  height: 100vh;
  @media screen and (max-width: 749px) {
    width: 100%;
  }
}

.loginForm {
  width: fit-content;
  max-width: 282px;
  height: 385px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.loginFormTitle {
  color: $color-brand-dark-orange;
  text-align: center;
}

.loginFormGroupField {
  width: fit-content;
  max-width: 282px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 21px;
}

.loginFormGroupFields {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.loginFormGroup {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.loginLabel {
  font-size: $body-s;
  text-align: left;
}

.loginInput {
  border-radius: 4px;
  border: 1px solid $color-grey-200;
  padding: 10px;
  background-color: $color-white;
  width: 282px;
  height: 53px;
  color: $color-grey-600;
  font-size: $body-xs;
}

.forgotPassword {
  font-size: $body-s;
  color: $color-brand-dark-orange;
  cursor: not-allowed;
  text-align: center;
}

.loginBottom {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: $body-s;
}

.loginLink {
  color: $color-brand-dark-orange;
}

.errorText {
  color: $error-red;
  font-size: $body-s;
  text-align: center;
}
