@use "@/styles/variables" as *;

.BtnUser {
  background-color: $color-brand-light-orange;
  color: $color-grey-950;
  font-size: $body-s;
  letter-spacing: 2%;
  padding: 21px 19px;
  border-radius: 32.5px;
  width: 65px;
  height: 65px;
  text-decoration: none;
  transition: all 300ms ease-out;
  &:hover,
  &:focus-visible,
  &[aria-current="page"] {
    background-color: $color-brand-orange-text;
    color: $color-white;
  }
}
