// Couleurs

$color-brand-dark-orange: #D3590B;
$color-grey-50: #F9FAFB;
$color-grey-200 : #E5E7EB;

// Couleurs de texte
$text-black: #000;

// Fonds
$bg-white: #FFF;

// Polices
$font-text: inter;
$font-heading: manrope;