@use './variables' as *;
@use './mixins'as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-grey-50;
  color: $text-black;
  font-family: $font-text;
}

h1, h2, h3, h4 {
  font-family: $font-heading;
}