@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.projectsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 100px;
}

.projectsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 749px) {
    flex-direction: column;
    gap: 30px;
  }
}

.projectsTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 14px;
  margin-top: 89px;
  text-align: left;
}

.projectsTitle {
  color: $color-grey-800;
  @include font-h4;
}

.projectsSubtitle {
  font-size: $body-l;
}

.projectsContent {
  margin: 60px 0;
}
