@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.profilePage {
  background-color: $color-white;
  border: 1px solid $color-grey-200;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 41px;
  margin: 57px auto;
  padding: 40px 59px;
  max-width: 1215px;
  width: 100%;
}

.profileFormTitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 41px;
}

.profileFormTitle {
  @include font-h5;
}

.profileFormSubtitle {
  font-size: $body-m;
  color: $color-grey-600;
}

.profileForm {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 40px;
}

.profileFormGroupField {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}

.profileFormLabel {
  font-size: $body-m;
}

.profileInput {
  border: 1px solid $color-grey-200;
  border-radius: 4px;
  padding: 19px 17px;
  width: 100%;
  max-width: 1097px;
  height: 53px;
  background-color: $color-white;
  color: $color-grey-600;
  font-size: $body-xs;
  @include mobile {
    width: 250px;
  }
}

.btnWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include mobile {
    flex-direction: column;
    gap: 10px;
  }
}

.successText {
  color: $success-green;
  font-size: $body-s;
}

.passwordHint {
  opacity: 0.9;
  color: $color-grey-800;
  text-align: left;
  font-size: $body-xs;
}
